*{
    margin:0;
    padding: 0;
}

.bodyDiv {
    width: auto;
    height: auto;
    background: rgb(44,62,80);
    background: rgb(44,62,80);
    background: radial-gradient(circle, rgba(44,62,80,1) 0%, rgba(23,32,42,1) 100%);
    /* background-image: url('https://swall.teahub.io/photos/small/95-956384_pokemon-anatomy-wallpaper-fondos-de-pantalla-anatomia.jpg');
    background-repeat:no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; */
    
}

.header {
    height: 10%;
    background: white;
    border-radius: 1em;
    margin: 1em;
    display: flex;
    justify-content: center;
}

.title {
    width: auto;
    font-family: Pokemon;
    color: #F4D03F;
    font-size: 40px;
    letter-spacing: 0;
    text-shadow: -3px -3px 3px black, 3px -3px 3px #6495ED, -3px 3px 3px #6495ED, #6495ED 3px 3px 3px ;
    justify-content: center;
    border: 5px solid pink;
}

.nav {
    height: 10%;
    border-radius: 1em;
    margin: 1em;
    display:flex;
    flex-direction: column;
}

.filter {
    border: 5px solid green;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.page {
    display: flex;
    justify-content: row;
}

.container {
    width: 100%;
    height: 63%;
    background: white;
    margin: 1em;
    
}

.section {
    height: 100%;
    width: 100%;
    border: 5px solid black;
    border-radius: 1em;
    display:flex;
    flex-wrap: wrap;
    /* display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
 */
}

.footer {
    height: 10%;
    background: white;
    border-radius: 1em;
    margin:1em;
}
.divGeneral {
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-image: url('https://images2.alphacoders.com/206/thumb-1920-206300.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/* .page {
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding: 0px;
} */

.div {
    width: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px; 
    background: green;
}

.card {
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.container .card {
    width:330px;
    height:430px;
    border-radius: 10px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin:20 px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

/* .pagination {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    background: red;
} */

@font-face {
    font-family: Pokemon;
    src: url("./PokeSolid.ttf");
    -webkit-text-stroke: 10px black;
}