.page {
    background: radial-gradient(circle, rgba(44,62,80,1) 0%, black 100%);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin: auto;
}


/* .number {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 5px;
    border-radius: 30px;
    background: transparent;
    overflow: hidden;
    position: relative;
    background-color: black;
    opacity: 50%;
    color:white;
} */

.number {
    -webkit-touch-callout: none;
      -webkit-user-select: none;
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
          -webkit-tap-highlight-color: transparent;
  }
  
  button {
      width: 50px;
      height: 50px;
      cursor: pointer;
      background: #333;
      margin: 10px;
      border: none;
      border-radius: 50px;
      box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
      color: rgba(44,62,80,1);
      font-size: 16px;
  }
  
  button:hover {
      box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
      font-size: 15px;
      transition: 500ms;
      color: #f07171;
      text-shadow: 0px 0px 10px #f07171;
      
  }
  
  button:focus {
      outline: none;
  }
  
  /* .red:hover {
      color: #f07171;
      text-shadow: 0px 0px 10px #f07171;
  }
  
  .green:hover {
          color: #93f071;
      text-shadow: 0px 0px 10px #93f071;
  }
  
  .blue:hover {
      color: #71b7f0;
      text-shadow: 0px 0px 10px #71b7f0;
  }
  
  .purple:hover {
      color: #b971f0;
      text-shadow: 0px 0px 10px #b971f0;
  }
 */



