.image {
    /* border: 5px solid red; */
    height: 150px;
    width: 150px;
}

.title {
    color:rgb(250, 250, 246);
    font-family: PokeHollow;
}

.type {
    color: white;
    border-top: white;
}
