.card {
    position: relative;
    height: fit-content;
    max-width: 300px;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: red;
    border: 1px solid black;
}