.Filter {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
		-webkit-tap-highlight-color: transparent;
}

button {
	width: 80px;
	height: 50px;
	cursor: pointer;
	font-size: 15px;
	font-family: 'Staatliches', cursive;
	letter-spacing: px;
	background: #333;
	box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #444, inset -5px -5px 10px #222;
  color: #5D6D7E;
	transition: 500ms;
}

button:after {
	content: '';
	position:fixed;
	transform: translateX(0px) translateY(-40px);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: transparent;
	box-shadow: 0px 0px 50px transparent;
	transition: 400ms;
}

button:hover {
	transform: translateY(-5px);
	box-shadow: -5px -5px 15px #444, 5px 5px 15px #222, inset 5px 5px 10px #222, inset -5px -5px 10px #444;
}

button:focus {
  outline: none;
}

button:hover:after {
	background: rgb(248, 224, 3);
	box-shadow: 0px 0px 20px #fc0303, 0px 0px 30px #ffc421, inset 0px 0px 10px #ffc421;
	animation: spin 1s infinite linear;
}

@keyframes spin{
	25%{transform: translateX(-25px) translateY(-35px);
			width: 15px;
			height: 15px;}
	50% {transform: translateX(-55px) translateY(-30px);
			width: 5px;
			height: 5px;}
	75% {transform: translateX(-85px) translateY(-35px);
			width: 15px;
			height: 15px;}
}

button:focus {
	outline: none;
}